# Port webhook running
PORT=49512

# Secret Key Webhook
WEBHOOK_KEY=rahasia_sangat_aman_123

# Email Notification Let's Encrypt (Certbot)
SSL_EMAIL=admin@domainanda.com

# (Opsional) Directory nginx config saved
# NGINX_CONF_DIR=/etc/nginx/conf.d/paas-hosting